@page "/admin"
@{ Layout = null; }
<!DOCTYPE html>
<html>
<head>
<title>BoosStore Admin</title>
<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet"
/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" />
<base href="/" />
</head>
<body>
<component type="typeof(Routed)" render-mode="Server" />
<script src="/_framework/blazor.server.js"></script>
</body>
</html>